@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor1: #6D2323;
    --cor2: #A31D1D;
    --cor4: #FEF9E1;
    --cor3: #E5D0AC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", serif;
    background: black;
    color: white;
}

h1{
    font-family: "Oswald", serif;
    font-weight: 400;
    letter-spacing: 5px;
}

h2{
    font-family: "Oswald", serif;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 4px;
    color: rgb(124, 124, 24);
}

a{
    text-decoration: none;
    color: white;
}

.customhr{
    border: none;
    height: 2px; 
    background-color: rgb(29, 29, 29); 
}

/* -----------------HEADER ----------------*/

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    color: white;
}

.logo{
    margin: 1rem;
    padding-left: 0rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Menu Navegação */
.menu-aberto {
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.menu-aberto.active {
    height: 100vh;
    opacity: 1;
}

.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
    user-select: none;
    text-decoration: none;
    font-family: "Oswald", serif;;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
    opacity: 1;
    transform: translateY(0);
}

.nav-menu a:hover {
    transition: all 0.3s ease;
}

/* --------------SWIPER ------------------*/

.swiper {
    width: 100%;
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------- SOBRE ------------------*/

.Sobre{
    margin: 0.8rem;
    padding-bottom: 1rem;
}

.texto-sobre>p{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-align: justify;
    margin-top: 1rem;
}

.paragrafosegundo{
    margin-bottom: 2rem;
}

.botaowhats{
    font-family: "Oswald", serif;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: black;
    width: 333px;
}

.botaowhats:hover, .botaowhats:active{
    font-family: "Oswald", serif;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
    color: black;
    width: 333px;
}

/* -----------------SERVIÇOS ---------------------*/

.titulo-servicos{
    padding-left: 0.9rem;
    padding-top: 1rem;
    color: white;
}

.tituloservicoscard{
    font-weight: 500;
}

.textoservicos{
    font-weight: 300;
}

.card2 {
    width: 300px;
    height: 170px;
    padding: 1rem;
    border-radius: 20%;
    background: white;
    color: black;
    border-radius: 2px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
   
/*.shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* --------------PERGUNTAS FREQUENTES ----------------*/

.perguntas {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
  
.border {
    border-radius: 5px;
    border: 1px solid white;
    padding: 1rem;
    background-color: black;
    width: 333px;
} 

.texto-perguntas{
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-weight: 300;
    color: white;
}
    
.accordion-button {
    background-color: black;
    display: block;
    border: none;
    width: 300px;
    height: 25px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.accordion-content {
    overflow: hidden;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

/* ---------------PRODUTOS --------------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Esconde o menu por padrão */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.show {
    display: block; /* Mostra o menu quando a classe 'show' é adicionada */
}

.titulo{
    padding-left: 1.1rem;
    padding-top: 1rem;
    color: white;
}

.container-card{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    letter-spacing: 0px;
}

.btnfilter{
    margin: 5px 0px 5px 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 0.7rem;
    border-radius: 20px;
}

.space{
    margin-left: 1rem;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 2px;
    background: rgb(94, 94, 94);
}

.imagem-produtos{
    border-radius: 2px 2px 0px 0px;
    width: 300px;
    height: 190px;
}

.descricao{
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0px;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    color: white;
}



@media (min-width: 1024px) {

    .nav{
        margin: 1rem;
    }

    .logo{
        padding-left: 1rem;
    }
}

/* --------------- CONTATO --------------*/

.headline-contato {
    padding-left: 3rem;
    padding-top: 1rem;
}

.texto-contato{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-column {
    margin-top: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credits-column {
    text-align: right;
    font-size: 0.9rem;
}

.credits-column p {
    margin: 0.2rem 0;
}

.link{
    text-decoration: underline;
    color: rgb(124, 124, 24);
}


   
   