
:root{
    --cor1: #6D2323;
    --cor2: #A31D1D;
    --cor4: #FEF9E1;
    --cor3: #E5D0AC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: var(--cor2);
}

a{
    text-decoration: none;
    color: white;
}

/* -----------------HEADER ----------------*/

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.logo{
    margin: 1rem;
    padding-left: 1rem;
    color: var(--cor3);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: var(--cor3);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Menu Navegação */
.menu-aberto {
    background-color: var(--cor1);
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.menu-aberto.active {
    height: 100vh;
    opacity: 1;
}

.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
    user-select: none;
    text-decoration: none;
    color: var(--cor3);
    font-family: var(--font-pequena);
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
    opacity: 1;
    transform: translateY(0);
}

.nav-menu a:hover {
    color: var(--cor4);
    transition: all 0.3s ease;
}

/* --------------SWIPER ------------------*/

.swiper {
    width: 100%;
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------- SOBRE ------------------*/

.Sobre{
    margin: 0.8rem;
    color: var(--cor3);
}

.texto-sobre>p{
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.img{
    display: none;
}

/* -----------------SERVIÇOS ---------------------*/

.servicos{
    background-color: var(--cor3);
}

.titulo-servicos{
    padding-left: 0.9rem;
    padding-top: 1rem;
    color: black;
}

.card2 {
    width: 300px;
    height: 150px;
    padding: 1rem;
    border-radius: 20%;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
   
.shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* --------------PERGUNTAS FREQUENTES ----------------*/

.perguntas {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
  
.border {
    border-radius: 20px;
    border: 3px solid var(--cor1);
    padding: 1rem;
    background-color: var(--cor2);
    width: 333px;
} 

.texto-perguntas{
    color: var(--cor4);
    background-color: var(--cor2);
    text-shadow:  -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
}
    
.accordion-button {
    background-color: var(--cor2);
    display: block;
    border: none;
    width: 300px;
    height: 25px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.accordion-content {
    overflow: hidden;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

/* ---------------PRODUTOS --------------*/
.titulo{
    padding-left: 1.1rem;
    padding-top: 1rem;
    color: var(--cor3);
}

.container-card{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.btnfilter{
    margin: 0.5rem;
    background-color: var(--cor1);
    border: 1px solid var(--cor4);
    color: var(--cor3);
    padding: 0.7rem;
    border-radius: 20px;
}

.space{
    margin-left: 1rem;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: var(--cor1);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
}

.imagem-produtos{
    width: 300px;
    height: 190px;
}

.descricao{
    padding-left: 0.5rem;
    color: white;
}



@media (min-width: 1024px) {

    .Sobre{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        margin: 0.8rem;
    }
    
    .Sobre>p{
        text-align: justify;
        margin-top: 0.5rem;
    }

    .img{
        display: block;
        margin-left: 2rem;
    }
    
    .img-sobre{
        width: 300px;
        align-items: center;
    }
}
   
   